    body,html{font-family: '微软雅黑';padding: 0;margin: 0;height: 100%;position: relative;background: #e9e9e9;}  
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
    .discurption {overflow: hidden;margin: 0 4% 1rem 4%;}
    .discurption div{float: left;width: 33.33%;font-size: 1.2rem}
    .address{overflow: hidden;}
    .address span{float: right;background: url(../img/rightjt.png) no-repeat left;width: 20px; height: 3.8rem;background-size: 1.1rem;}
    .address .chicun{text-decoration: none;color: white;line-height: 3.8rem;font-size: 1.2rem;background: white;width: 92%;display: block;padding:0 4%;color: #666;margin-bottom: 5px;}
    
    .bottomLan{width: 100%;height: 45px;line-height: 45px;  position: fixed;  bottom: 0; left: 0;  background: #3fc371;border-top: 1px solid #ccc;}
    .duihuanbtn {width: 100%;display: block;height: 100%;text-decoration: none;text-align: center;color: white;font-size: 1.4rem;}
    .dindaninfo{padding: 0 4%;background: white;color: #666;margin-bottom: 5px;}
    .dindaninfoser{padding: 0 4%;background: white;color: #666;margin-bottom: 5px;}
    .overflow-hide{overflow: hidden;margin-top: 1rem;font-size: 1.2rem;height: 100px;padding-bottom: 1rem;}
    .dindantit{font-size: 1.2rem;font-weight: bold;padding-top: 1rem}
    .ghsh{font-size: 1.2rem;margin-top: 1rem;}
    .pro-img{float: left;width:140px;height: 100px;margin-right: 15px;}
    .pro-img img{display: block;width: 100%;height: 100%;}
    .pro-tit{white-space:normal;word-break:break-all; }
    .proDetail{float: left;position: relative;height: 100px;width: 54%;}
    .meert{position: absolute;bottom: 0;left: 0;font-size: 1.2rem;width: 100%;color: #3fc371}
    .meert span{font-size: 2rem;color:#3fc371; }
    .meert .c{font-size: 1.2rem;float: right;position: relative;top: 5px;color: #666666;}
    .guige{color: #9a9a9a;overflow: hidden;}
    .shuliang:last-child{border:none}
    .shuliang{line-height: 3rem;height: 3rem; border-bottom: 1px solid #eee;font-size: 1.2rem;  clear: both;}
    .shlmi{float: left;}
    .count{float: right;  color: #999;}
    .count span{color: #3fc371;  font-size: 1.4rem;}
    .chuser img{width: 1.4rem;display: block;float: left;position: relative;top: 1.2rem;}
    .addressDetial,.addressDetials{width: 100%;overflow: hidden;padding: 0 0 0 4%;background: white;margin-bottom: 5px;}
    .addressDetialLeft{float: left;width: 86.4%;font-size: 1.2rem; color: #646464;line-height: 1.8rem;padding: 0.8rem 0;}
    .addressDetialright{float: left;width: 9.6%;background: #fff;height: 100%}
    .addressDetialright c{display: block;width: 100%;height: 100%;text-decoration: none;text-align: center;line-height: 9.2rem;height: 9.2rem; overflow: hidden;background: url(../img/rightjt.png) no-repeat center center;background-size: 1.1rem;}
    .link{overflow: hidden}
    .add1{font-size: 1.2rem;font-weight: bold;color: #666;margin-bottom:0.4rem; }
    .addressDetial:last-child{
        margin-bottom: 50px;
    }
    .ser{
        display: block;
        width: 22px;
        height: 22px;
        border: 1px solid white;
        border-radius: 50%;
        margin: 3.6rem auto 0 auto;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
              -o-box-sizing: border-box;
                -ms-box-sizing: border-box;
        position: relative;
    }
    .item{
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        background: white;
        left:1px;
        top: 1px; 
        border-radius: 50%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
              -o-box-sizing: border-box;
                -ms-box-sizing: border-box;
    }
.downicon{background: url(../img/down.png) no-repeat center right;
  background-size: 1.2rem;
  padding-right: 1.4rem;position: relative;}
.mdsk{position: absolute;left:0;top: 3rem;height: 30px; line-height: 30px;  background: #fff;
  box-shadow: 1px 2px 1px 0px #ccc;display: none;  z-index: 1;}
    .adds{
        display: block;width: 96%;
        text-decoration: none;
        color: #3fc371;
        font-size: 40px;
        background: white;
        line-height: 35px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        margin-left: -2%;
    }
    .zhezhao{position: fixed;height: 100%;width: 100%;background: rgba(0,0,0,0.5);top: 0;left: 0;z-index: 1;display: none;}
    .asd{position: fixed;width: 280px;margin: 0 auto;z-index: 1;top: 50%;font-size: 14px;color: #666;
        left: 50%;margin-left: -150px;background: white;border-radius: 5px;padding: 10px;display: none;
    }
    .tes{
        text-align: left;
    }
    .tes1{
        color: #666;
        font-size: 12px;
        line-height: 20px;
        border-top: 1px solid #eee;
    }
    .tes2{
        width: 104px;
        overflow: hidden;
        float: right;
    }
    .tes2 a{
        width: 50px;
        display: block;
        float: left;
        text-align: center;
        height: 32px;
        text-decoration: none;
        color: white;
        line-height: 32px;
        border-radius: 3px;
        margin-left: 2px;
    }
    .tesbtn_left{
        background: #3FC371;
    }
    .tes2 .tesbtn_right{
        background: #eee;
        color: #999
    }
     .load{position: fixed;top: 0;left: 0;height: 100%;width: 100%;text-align: center;background: #1c1c1c;}
    .load img{display: block;position: absolute;top: 50%;left: 50%;margin-left: -50px;margin-top: -50px;width: 100px;height: 100px;
-webkit-animation: rotate 2s infinite linear;}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
.btn-s{background: #3fc371;height: 28px;display: block;width: 50px;margin-top: -webkit-calc((3rem - 28px)/2);margin-top: -moz-calc((3rem - 28px)/2);margin-top: -ms-calc((3rem - 28px)/2);margin-top: -o-calc((3rem - 28px)/2);margin-top: calc((3rem - 28px)/2);border-radius: 50px;}
.btn-a{width: 26px;height:26px;margin-top: 0.2rem;background: #fff;display: block;border-radius: 50%;position: relative;  top: 1px;left: 23px;transition: 0.2s all;}
.btnsb{background: #e9e9e9}
.closes{left: 1px;}
.bold{font-weight: bold;}
.zfb{background: url(../img/zfb.png) no-repeat center left;background-size: 2.4rem;padding-left: 3rem;}
.wx{background: url(../img/wx.png) no-repeat center left;background-size: 2.4rem;padding-left: 3rem;}
.rod{width: 20px; height: 20px; display: block;border:1px solid #ccc;border-radius: 50%;margin-top: -webkit-calc((3rem - 20px)/2);margin-top: -moz-calc((3rem - 20px)/2);margin-top: -ms-calc((3rem - 20px)/2);margin-top: -o-calc((3rem - 20px)/2);margin-top: calc((3rem - 20px)/2); }
.grd{position: relative;width: 14px; height: 14px; border-radius: 50%;background: #3fc371;top:3px;display: block;left: 3px;}
.coin{width: 40px;border: 1px solid #3fc371;outline: none;text-align: center;border-radius: 3px;  height: 20px;margin: 0 4px;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}