 body,html{padding: 0;margin: 0;font-family: "微软雅黑";}


.main{margin: 0 auto;}
    .topUserInfo{
        height: 6.4rem;
        border-bottom: 10px solid #efefef;
    }
    .floatL{float: left;}
    .userLeft,.userRight{
        height: 6.4rem;
    }
    .userLeft{
        width: 6.4rem;
    }
    .userRight{
        width: 76%;
    }
    .gary1px{
        border: 2px solid #ccc;
        border-radius: 50%;
        display: block;
        float: left;
        overflow: inherit;
        width: 4.2rem;
        height: 4.2rem;
        box-sizing: border-box;
        margin-left: calc((6.4rem - 4.2rem) / 2);
        margin-top: calc((6.4rem - 4.2rem) / 2);
        position: relative;
    }
    .gary1px img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        float: left;
    }
    .icon{
        position: absolute;
        right: -6px;
        top: -3px;
        width: 20px;
        height: 20px;
        z-index: 1;
    }
    .userName{
        line-height: 4.2rem;
        font-size: 1.8rem;
        color: #333;
        font-weight: bolder;
    }
    .userDes{
        line-height: 2.1rem;
        font-size: 1.2rem;
        color: #666;
        display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    }
    .userinfo{
        margin-top: calc((6.4rem - 4.2rem) / 2); 
    }
    .userName img{width: 1.2rem;margin-left: 4px;}
    .line1{border-bottom: 1px solid #ccc;display: block;position: absolute;
        top: 2rem;z-index: 0;width: 100%; z-index: -1;}
    .titles{text-align: center;height: 4rem;line-height: 4rem;font-size: 1.4rem;font-weight: 600;color: #333;position: relative;width: 96%;margin: 0 auto}
    .ndud{background: white;width: 8rem;margin:0 auto;}
    .eval{width: 90%;margin: 0 auto;}
    .voer{overflow: hidden;width: 100%;}
    .voerleft{width: 35%;font-size: 1.4rem;line-height: 2rem;}
    .voerright{width: 65%;}
    .voerright img{
        display: block;
        float: left;margin-right: 1.1rem;
        width: 2rem;
    }
    .topm26{margin-top: 2rem;}
    .topm1{margin-top: 0.8rem;}
    .textarea{width: 96%;margin: 0 auto;margin-top: 2.7rem}
    .textarea textarea{width: 96%;margin: 0;padding: 2%;outline: none;font-size: 1.2rem;resize:none;}
    .btn{width:100%;height: 4rem;text-align: center;display: none;z-index: 100;position: fixed;bottom:0}
    .btn a{display: block;height: 4rem;width: 100%;background: #3fc371;line-height: 4rem;text-decoration: none;color: white;font-size: 1.6rem;;max-width: 640px;}
    .checkbox{height: 1.2rem;width: 1.2rem;font-size: 1.2rem;color: #666;}
    .pingjia{float: right;margin-right: 2%;padding-bottom: 4.2rem;}